/* * {
    border: 2px solid red;
} */

html {
    background-color: var(--background);
}

:root {
    --button : #ffeeeb;
    --background : #f7efee;
    --navbar_background : #f4dea9;
    --font_family : 'Courier New', Courier, monospace;
}

.centered-div {
    justify-content: center;
    justify-items: center;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    justify-items: center;
    justify-content: center;
}

.title {
    font-family: 'Courier New', Courier, monospace;
}

.p {
    font-size: 24px;
}

.info {
    font-size: 20px;
}

.bordered {
    height: 75%;
    width: 75%;
    border: black solid 2px;
    background-color: lavender;
    margin: 5px auto;
    padding : 15px;
    padding-top: 0px;
}

.spacer {
    padding-top: 5%;
}

.navbar {
    display: flex;
    width: 33%;
}

.navbar div {
    background: var(--navbar_background);
    height: 30px;
    flex: 1;
}

.full-button {
    width: 100%;
    height: 100%;
    font-family: var(--font_family);
    background-color: var(--button);
    font-size:12px;
}

.project-button{
    width: 350px;
    height: 60px;
    font-size: 20px;
    font-family: var(--font_family);
    background-color: var(--button);
    margin-bottom: 5px;
}

.columnar-container {
    display: flex;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.centered-image {
    padding-top: 7.5%;
    padding-bottom: 7.5%;
}

.column-header {
    flex: 50%;
    display: flex;
    justify-content: center;
}

.project-info {
    font-size: 20px;
}

p {
    text-indent: 30px;
}

table {
    width: 100%; 
    border: 1px solid black;
    margin-left: 2px;
    margin-right: 2px;
    align-self: flex-start;
    padding : 5px;
    margin: 5px;
}

td, th {
    text-align:end;
}

td:nth-child(1), th:nth-child(1) {
    text-align: start;
}

td:nth-child(2), th:nth-child(2) {
    text-align: end;
}

.project-info-table {
    width: 66%; 
    border: 1px solid black;
    font-size: 18px;
    margin-left: 2px;
    margin-right: 2px;
    align-self: flex-start;
    padding : 5px;
    margin: 5px;
}